h2, p{
    margin-bottom: 2.4rem;
}

h1 {
    font-weight: 700;
    font: 2.0rem/1.2 "Roboto";
    color: hsl(000, 0%, 33%);
}
h2 {
    font-weight: 400;
    font: 1.5rem/1.2 "Roboto";
    color: hsl(000, 0%, 33%);
}
time {
    font-weight: 700;
    font: 1.0rem/1.2 "Roboto";
    color: hsl(250, 100%, 83%);
}
h3 {
    font-weight: 700/1.2;
    font: 1.0rem/1.2 "Roboto";
    color: hsl(250, 100%, 67%);
}
p {
    font-weight: 400/1.2;
    font: 1.0rem/1.5 "Roboto";
    color: hsl(000, 0%, 33%);
}

a {
    box-shadow: inset 0 -0.25em hsl(55, 100%, 75%);
}

figcaption p {
    font-weight: 400/1.2;
    font: 1.0rem/1.5;
    color: hsl(000, 0%, 83%);
}

@media(max-width: 8.5in){:root {font-size: 18px;}}
@media(max-width: 5.0in){:root {font-size: 16px;}}
